extends layout

block content
  div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
      div(class='container')
        a(class='brand', href="/") ChordFork
        ul(class="nav")
          li
            a(href="/explore") explore
          li
            a(href="/create") create

  div(class="container")
    h3 About ChordFork
    p ChordFork is a simple song hosting/cvcs application. Users have the ability to upload songs, where a song is currently a simple chord progression, and share songs with other users or friends.
    p ChordFork is currently very alpha. It is built on node.js with Express. ChordFork is running on Heroku with the PostgreSQL add-on and using sequelize to interface with the database, although ChordFork can also be run locally with a local Postgres instance.
    p In the long term I would love to make ChordFork into a full-fledged score editor in the browser, but as of right now solving the UI/UX problems associated with writing scores in the browser and engraving sheet music in real time are both outside of my expertise and too time-consuming to tackle. More realistic short term goals that I am working towards include: song versioning, a feed to track other songwriters, search, and forking of other user's songs.
    p ChordFork is completely open-source right now and can be found <a href="http://github.com/JayThomason/ChordFork">here</a> on GitHub. Feel free to contribute by cloning the repository, adding a feature or fixing a bug, and sending me a pull request. Right now ChordFork is mostly a personal weekend project, but I would love to for you to test it out and let me know what you think.
    h3 About Me
    p Hi, my name is Jay and I'm currently working towards a degree in Computer Science at Stanford University. I decided to start working on ChordFork as a project for one of my classes this quarter, CS184. 
    p As a songwriter, I see a need for a quality, responsive web application that brings version control to musicians. Oftentimes I sit down to play and end up writing parts to songs, yet without a pad of paper nearby I forget what I came up with. I see ChordFork as a potential solution.
    p When I'm not programming, I enjoy rock climbing, travelling, photography, and, of course, writing and playing music. If you're interested in hearing some of my work, you can find it on SoundCloud under the alias <a href="http://soundcloud.com/sixkz">Sixkz</a>.
    h3 Contact Me
    p If you have complaints, feature suggestions, or otherwise just want to say hi, you can email me at: 
    p jayt92 (AT) stanford (DOT) edu.
    br
    br
    p Thanks! 
