extends layout

    
block content
  div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
      div(class='container')
        a(class='brand', href="/") ChordFork
        ul(class="nav")
          li
            a(href="#", onclick="return false;") explore
          li
            a(href="/create") create
  div(class="container-fluid")
    div(style="text-align: center")
      h3 Explore
    div(class="well", style="margin: 0 auto; max-width: 500px;")
      h4 Click on users to view their songs.
      p(id="user_list")
        each user in users
          strong 
            a(href='/user/view/'+user.name) #{user.name}
            br
