div(id="footer")
  div(class="container")
    p(class="muted credit", style="float: left")
      div(style="float: left; padding-right: 40px;")
        Copyright (c) Jay Thomason 2013
      div(style="float: right")
        a(href="about") About
