extends layout


block content
  div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
      div(class='container')
        a(class='brand', href="#", onclick="return false;") ChordFork
        ul.nav
          li
            a(href="#") explore
          li
            a(href="/create") create
  div(class='container-fluid')
    div(class="home-header")
