doctype 5
html
  head
    include bootstrap 
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    div(id="wrap")
      block content
      div(id="push")
    include footer
