extends layout

block content
  div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
      div(class='container')
        a(class='brand', href="splash") ChordFork
        ul(class="nav")
          li
            a(href="#", onclick="return false;") explore
          li
            a(href="create") create
  div(class="container-fluid")
    h2 404 Not Found!
