
.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px;
}

.container {
  margin-top: 1;
}

#push, #footer {
  height: 30px
}

